.body {
  display: flex;
}

.image {
  max-width: 300px;
}

.section2 {
  max-width: 500px;
}

a {
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__email,
.form__username,
.form__password {
  height: 60px;
  margin-bottom: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form__email--input,
.form__username--input,
.form__password--input {
  padding-top: 6px;
  padding-bottom: 6px;
}

.form__password--items {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: start;
}

.form__signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form__signup--btn {
  width: 180px;
  height: 40px;
  color: grey;
}

.form__signup--btnaccept {
  position: relative;
  left: 80px;
  width: 30px;
  height: 25px;
}

.accept {
  margin-left: 100px;
}
